<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4 toggle-form hidden-form" id="job-application-table-<%= job_id %>">
        <i class="fas fa-times x-icon fa-2x form-x-button" for="job-application-table-<%= job_id %>"></i>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Job Applications</h6>
        </div>
        <%= form_for @job_application_search do |f| %>
            
        <% end %>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 88px;">Job Title</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 136px;">First Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 136px;">Last Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 62px;">Email</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 62px;">Phone Number</th>
                                        <% @job.skills.order('skills.id ASC').each do |job| %>    
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;"><%= job.name %></th>
                                        <% end %>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">Resume</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% job_applications.each do |application| %>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1"><%= application.job.job_title %></td>
                                        <td class="sorting_1"><%= application.first_name %></td>
                                        <td><%= application.last_name %></td>
                                        <td><%= application.email %></td>
                                        <td><%= application.phone_number %></td>
                                        <% application.skill_experiences.joins("INNER JOIN skills ON skill_experiences.skill_id = skills.id").order('skills.id ASC').each do |job_skill|%>
                                            <td><%= job_skill.experience %> Years</td>
                                        <% end %>
                                        <td>
                                          <%= link_to url_for(application.resume), download: true do %>
                                            <div class="btn btn-outline-primary ml-3">download</div>
                                          <% end %>
                                        </td>
                                    </tr>
                                  <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>