
<section class="jumbotron text-center">
    <div class="container">
      <h1>Hiring Done Right.</h1>
      <p class="lead text-muted">Find the Candidates that you need when you need them.</p>
      <%if !user_signed_in? %>
        <p>
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary my-2" %>
          <%= link_to "Sign Up",new_user_registration_path, class: "btn btn-secondary my-2" %>
        </p>
      <% end %>
    </div>
  </section>
<section class="home-pricing pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Basic</h5>
            <h6 class="card-price text-center">$49</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 job Posting</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Each post Lasts 2 days</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Collect Candidate Email Addresses</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Upload company logo</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Collect Candidate Phone Numbers</li>
            </ul>
            <%= link_to "Buy Now",new_purchase_path(plan_type: 'basic'), class: "btn btn-block btn-primary text-uppercase" %>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">$79</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 job Postings</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Each post Lasts 10 days</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Collect Candidate Email Addresses</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Upload company logo</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Collect Candidate Phone Numbers</li>
            </ul>
            <%= link_to "Buy Now",new_purchase_path(plan_type: 'plus'), class: "btn btn-block btn-primary text-uppercase" %>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$99</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>20 job Postings</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Each post Lasts 30 days</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Collect Candidate Email Addresses</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Upload company logo</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Collect Candidate Phone Numbers</li>
            </ul>
            <%= link_to "Buy Now",new_purchase_path(plan_type: 'pro'), class: "btn btn-block btn-primary text-uppercase" %>
          </div>
        </div>
      </div>
    </div>
  </div>


