<div class="container-fluid">

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-5">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Basic Posts Remaining</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= current_user.basic_post_credits %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Plus Posts Remaining</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= current_user.plus_post_credits %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pro Posts Remaining</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= current_user.pro_post_credits %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Job Applications Received</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @applications.count %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-5">
  <div class="row">
    <h1 class="h3 mb-0 text-gray-800">Your Job Posts</h1>
    <div class="btn btn-outline-primary ml-3 form-toggle-button" fetch-url="<%= new_job_path %>.js">Create Job</div>
  </div>
</div>
<%= render 'jobs/index' %>
<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-5">
  <h1 class="h3 mb-0 text-gray-800">Job Applications Received</h1>
</div>
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Job Applications</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 88px;">Job Title</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 136px;">First Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 136px;">Last Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 62px;">Email</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 62px;">Phone Number</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">Resume</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% @applications.each do |application| %>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1"><%= application.job.job_title %></td>
                                        <td class="sorting_1"><%= application.first_name %></td>
                                        <td><%= application.last_name %></td>
                                        <td><%= application.email %></td>
                                        <td><%= application.phone_number %></td>
                                        <td>
                                          <%= link_to url_for(application.resume), download: true do %>
                                            <div class="btn btn-outline-primary ml-3">download</div>
                                          <% end %>
                                        </td>
                                    </tr>
                                  <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-5">
  <h1 class="h3 mb-0 text-gray-800">Purchase More Post Credits</h1>
</div>
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Basic</h5>
            <h6 class="card-price text-center">$49</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 job Posting</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Each post Lasts 2 days</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Upload company logos & header images</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Collect Candidate Phone Numbers</li>
            </ul>
            <%= link_to "Buy Now",new_purchase_path(plan_type: 'basic'), class: "btn btn-block btn-primary text-uppercase" %>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">$79</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 job Postings</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Each post Lasts 10 days</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Upload company logos & header images</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Collect Candidate Phone Numbers</li>
            </ul>
            <%= link_to "Buy Now",new_purchase_path(plan_type: 'plus'), class: "btn btn-block btn-primary text-uppercase" %>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$99</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>20 job Postings</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Each post Lasts 30 days</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Upload company logos & header images</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Collect Candidate Phone Numbers</li>
            </ul>
            <%= link_to "Buy Now",new_purchase_path(plan_type: 'pro'), class: "btn btn-block btn-primary text-uppercase" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="hidden-form-container">
</div>