<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Mechanical Engineering Jobs</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <%= link_to "Home Page", root_path , class: "p-2 text-dark" %>
        <%= link_to "View Jobs", jobs_path , class: "p-2 text-dark" %>
        <%= link_to "Post a Job", new_job_path, class: "p-2 text-dark" %>
        <% if current_user &. admin_user? %>
          <%= link_to "Admin Dashboard", admin_dashboard_path, class: "p-2 text-dark" %>
          <%= link_to "Regular Dashboard", dashboard_path, class: "p-2 text-dark" %>
        <% else %>
          <%= link_to "Dashboard", dashboard_path, class: "p-2 text-dark" %>
        <% end %>
      </nav>
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, class: "btn btn-outline-primary ml-3", method: :delete%>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary" %>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary ml-2" %>
      <% end %>
</div>