<!DOCTYPE html>
<html>
  <head>
    <title>Remote Hire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <%= render 'layouts/navbar/navbar' %>
    <div id="flash-container">
      <%= render 'layouts/flash' %>
    </div>
    <%= yield %>
  </body>
</html>
